version: '3'
services:
  mongo:
    image: mongo:4.4.2-bionic
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: hunter2
    volumes:
      - mongo-data:/data/db
  rlcraft-server:
    image: mitchleinbach/rlcraft
    hostname: rlcraft-server
    volumes:
      - rlcraft-world:/opt/minecraft/world
    restart: always
    tty: true
    stdin_open: true
    depends_on:
      - velocity
      - mongo
  lobby-server:
    image: mitchleinbach/lobby
    hostname: lobby-server
    volumes:
      - lobby-world:/opt/minecraft/world
    restart: always
    tty: true
    stdin_open: true
    depends_on:
      - velocity
      - mongo
  velocity:
    image: mitchleinbach/velocity
    hostname: velocity
    ports:
      - '25577:25577'
    restart: always
    depends_on:
      - mongo
volumes:
  lobby-world:
  rlcraft-world:
  mongo-data: